/* -------------------------------- 
  Primary style
-------------------------------- */
:root{
    --main-color-blue: rgb(75, 173, 182);
    --main-color-gold: #baa769;
    --main-color-white: white;
    --main-color-black: #373D2C;
    --main-text-Dark: #212121;
    --main-text-Grey: #494949;
    --main-text-Grey: #727272;
}

*, *::after, *::before {
    /*Count padding and borders in total size*/
    -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .clr{
    clear: both;
  }

  html {
    font-size: 62.5%;
    scroll-behavior: smooth; /*Smooth scrolling*/
  }
  
  body {
    font-size: 135%;
    font-family: 'Montserrat', sans-serif;
    color: var(--main-text-Dark);
    margin: 0px;
    padding: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


/* -------------------------------- 
  Typography 
-------------------------------- */

  body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
    font-size-adjust: 0.5;
  }
  
  #page {
    font-size: 1em;
    /* equivalent to 16px */
    line-height: 1.25;
    /* equivalent to 20px */
  }
  
  @media (min-width: 43.75em) {
    #page {
      font-size: 1em;
      /* equivalent to 16px */
      line-height: 1.375;
      /* equivalent to 22px */
    }
  }
  
  h1 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25;
    /* 45px / 36px */
  }
  
  @media (min-width: 43.75em) {
    h1 {
      font-size: 2.5em;
      /* 2.5x body copy size = 40px */
      line-height: 1.125;
    }
  }
  
  @media (min-width: 56.25em) {
    h1 {
      font-size: 3em;
      /* 3x body copy size = 48px */
      line-height: 1.05;
      /* keep to a multiple of the 20px line height and something more appropriate for display headings */
    }
  }
  
  h2 {
    font-size: 1.625em;
    /* 1.625x body copy size = 26px */
    line-height: 1.15384615;
    /* 30px / 26px */
  }
  
  @media (min-width: 43.75em) {
    h2 {
      font-size: 2em;
      /* 2x body copy size = 32px */
      line-height: 1.25;
    }
  }
  
  @media (min-width: 56.25em) {
    h2 {
      font-size: 2.25em;
      /* 2.25x body copy size = 36px */
      line-height: 1.25;
    }
  }
  
  h3 {
    font-size: 1.375em;
    /* 1.375x body copy size = 22px */
    line-height: 1.13636364;
    /* 25px / 22px */
  }
  
  @media (min-width: 43.75em) {
    h3 {
      font-size: 1.5em;
      /* 1.5x body copy size = 24px */
      line-height: 1.25;
    }
  }
  
  @media (min-width: 56.25em) {
    h3 {
      font-size: 1.5em;
      /* 1.75x body copy size = 28px */
      line-height: 1.25;
    }
  }
  
  h4 {
    font-size: 1.125em;
    /* 1.125x body copy size = 18px */
    line-height: 1.11111111;
  }
  
  @media (min-width: 43.75em) {
    h4 {
      line-height: 1.22222222;
      /* (22px / 18px */
    }
  }
  
  blockquote {
    font-size: 1.25em;
    /* 20px / 16px */
    line-height: 1.25;
    /* 25px / 20px */
  }
  
  @media (min-width: 43.75em) {
    blockquote {
      font-size: 1.5em;
      /* 24px / 16px = */
      line-height: 1.45833333;
      /* 35px / 24px */
    }
  }

  p{
    font-family: 'Merriweather', serif;
    text-transform: none;

  }

  a {
    text-decoration: none;
  }

/* -------------------------------- 
  Navigation
-------------------------------- */

nav{
    display: flex;
    flex-basis: 100%;
    position: fixed;
    top:0px;
    width: 100%;
    height: 100px;
    left: 50%;
    justify-content: stretch;
    align-items: stretch;
    padding: 0px 100px;
    margin-left: -50%; /* Negative half of width. */
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 1000;
}

nav .nav_logotype{
  justify-self: start;
  margin-right: auto;
  margin-top: 20px;
}

nav h2 {
    text-align: center;
}

nav ul{
    display: flex;
    justify-self: right;
    list-style: none;
}

nav li{
    padding: 13px 25px 13px 25px;
    margin-top: 20px;
    font-size: 1.05em;
    
}

nav li:hover{
    background-color: rgba(75, 173, 182, 0.05);
}

nav a{
  color: var(--main-color-blue)
}

nav a:hover{
  color: var(--main-color-gold)
}

/* -------------------------------- 
Sections
-------------------------------- */

.cd-section {
  min-height: 100vh;
  max-height: 2000px;
  padding-top: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .cd-section > div {
    text-align: center;
    /*border: 1px #ccc solid; */
  }
  .cd-section h1, .cd-section h2 {
    margin: 10px auto;
    padding-bottom: 5px;
  }
  .cd-section .underline {
    height: 10px;
    width: 200px;
    background-color: #2f3729;
    margin: 20px auto;
  }
  .cd-section p {
    margin: 1em auto 0;
    line-height: 1.6;
    width: 90%;
    max-width: 680px;
    color: var();
  }

  .cd-section .content-wrapper{
    z-index: 3;
    position: relative;
  }

  .cd-section .fade-in-wrapper{
    opacity: 0;
    transform: translateY(50px);
    transition: all 1.5s ease-out;
  }

  .cd-section .fade-in{
    opacity: 1;
    transform: translateY(0px);
  }

  .cd-section .fade-out{
    opacity: 0;
    transition: all 1s ease-out;    
  }


  .bcg-parralax{
    overflow: hidden;
    position: relative;
  }
  .bcg{
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    
  }
  .bcg-fixed{
    background-attachment: fixed;
  }
  .bcg-animation{
    animation: background-fadein;
    animation-duration: 1s;
    animation-fill-mode: forwards; /*animation will stay in its place*/
  }

  @keyframes background-fadein{
      0%{opacity: 0; transform: translateY(20px);}
      100%{opacity: 1; transform: translateY(0px);}
  }

  #section1{
    background-color: var(--main-color-blue);
    color: var(--main-color-white);
    justify-content: left;
    padding-left: 100px;
  }
  #section1 .underline{
    background-color: var(--main-color-white);
  }
  #section1 h1{
    width: 75%;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
  }
  #section1 div{
    text-align: left;
    margin-left: 0;
    margin-right: 0;
  }
  #section1 p{
    text-align: left;
    margin-left: 0;
    margin-right: 0;
  }

  #sectionHyrlakare{
    background-color: var(--main-color-white);
    color: var(--main-color-gold);
  }
  #sectionHyrlakare .underline{
    background-color: var(--main-color-gold);
  }
  #sectionHyrlakare h1{
    width: 75%;
  }

  #section2{
    background-color: var(--main-color-white);
    color: var(--main-color-black);
  }
  #section2 .underline{
    background-color: var(--main-color-white);
  }

  #sectionForelasningar{
    background-color: var(--main-color-gold);
    color: var(--main-color-white);
  }
  #sectionForelasningar .underline{
    background-color: var(--main-color-white);
  }

  #sectionKontaktaOss{
    background-color: var(--main-color-blue);
    color: var(--main-color-white);
  }
  #sectionKontaktaOss .underline{
    background-color: var(--main-color-white);
  }
  #sectionKontaktaOss h2{
    width: 100%;
  }


/* -------------------------------- 
Card
-------------------------------- */
.card-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card{
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  width: 300px;
  min-height: 400px;
  text-align: center;
  margin: 20px;
  padding-bottom: 2em;
}

.card:hover{
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}
.card .person-photo{
  background-color: var(--main-color-blue);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  position: relative;
  height: 200px;
}
.card h3{
  font-weight: 500;
  padding: 0px;
  margin: 1.5em 1em 0.25em 1em;
}
.card h4{
  font-weight: 500;
  color: var(--main-color-blue);
  padding: 0px;
  margin: 0.25em 1em 0.75em 1em;
}
.card p{
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9em;
  margin: 0em 1em 0em 1em;
  color: var(--main-text-Grey);
}

/* -------------------------------- 
Form
-------------------------------- */
  .my-form{
    padding:20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}
.my-form input, textarea, button{
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
}

  .my-form input, textarea{
      width:100%;
      padding: 15px;
      margin: 5px;
      background-color: rgba(255, 255, 255, 0.05);
      color:var(--main-color-white);
      border: none;
      border-bottom: 2px solid var(--main-color-white);

  }

  .my-form input:focus, textarea:focus{
    background-color: var(--main-color-white);
    color: var(--main-color-black);
  }
  .my-form input::placeholder, textarea::placeholder {
    color:var(--main-color-black);
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
  }


  .my-form button{
    width:100px;
    padding: 10px;
    margin: 10px;
    background-color: var(--main-color-blue);
    color:var(--main-color-white);
    border: 2px solid var(--main-color-white);
    border-radius: 20px;
  }

  .my-form button:hover{
    background-color: var(--main-color-gold);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  }

  /*
  [type="text"], input[type="email"], input[type="phone"], input[type="message"]
  */